<?xml version="1.0" encoding="utf-8" ?>
<plugin>
    <class>org.igniterealtime.openfire.plugins.blockmucinvitations.BlockMucInvitationsPlugin</class>

    <name>${project.name}</name>
    <description>${project.description}</description>
    <version>${project.version}</version>

    <author>Guus der Kinderen</author>
    <date>2024-04-22</date>
</plugin>
